

#root{
      display:flex;
    align-items: top;
    gap:0rem;
    justify-content: space-between ;
    width: 100%;
    padding: 2rem ;
    min-height: 100vh;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:5rem
}
.overlay {
    background-color: #1a1a1aCC;
    backdrop-filter: blur(3px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.scoreBoard{ 
    width: 25vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:1rem;
    border : 2px dashed #576C4E;
    padding : 1rem;
    font-size: 1.27rem;
    border-radius: 1rem;
}
.scoreBoard span{
    text-transform: uppercase;
    color: #cbd1c5;
}

.scoreBoard span.sunk {
    color:#642216}

#msg{
    font-size: 3rem;
    font-family: 'Tanker';
    text-transform: capitalize;
    padding : 2rem 0;
    color: #cbd1c5;
}
h1{
    color: #cbd1c5;
    
}
h2{
    color: #cbd1c5;
    font-family: 'Tanker';
    font-size: 2.5rem;
}
.cell {
    border: 2px solid #576C4E50;
    height: 3.7vw;
    width: 3.7vw;
    cursor: crosshair;
}
.mini-cell {
    width: 2.27rem;
    height: 2.27rem;
    border: 1px solid #576C4E;
}
.cell:hover{
    background-color: #cbd1c5;
    border-radius: 100%;
}

.cell.hit, .cell.ocean {
    background-color: #162864;
    cursor: not-allowed;
}
.cell.hit:hover, .cell.ocean:hover, .cell.missed:hover{
    border-radius: 0;
}
.cell.missed, .cell.missed:hover, .mini-cell.missed, .mini-cell.missed:hover{
    background-color: #cbd1c5;
    cursor: not-allowed;
}
.mini-cell.hit, .mini-cell.ocean {
    background-color: #642216;
    cursor: not-allowed;
}
.grid-wrapper {
    width: 100%;
    display: flex;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button {
      color: #1a1a1a;
     background-color: #cbd1c5;


}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width:fit-content;
    border-radius: 1rem;

}