#root {
  display: flex;
  flex-direction: column;
  align-items: top;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
}

header h2 {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-weight: 900;
  color: #1a1a1a;
  text-transform: uppercase;
}

main {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}
.left,
.center,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.center {
  justify-content: space-between;
}

.overlay {
  background-color: #1a1a1acc;
  backdrop-filter: blur(3px);
  position: absolute;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 2s ;
}

#msg {
  font-family: "Tanker";
  font-size: 5vw;
  color: #88958D;
}

.center h2 {
    text-align: center;
    font-size: 2.5rem;
}

.card {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 1rem;
  border: 5px dashed #149ECA;
  padding: 1rem;
  font-size: 1.27rem;
  border-radius: 5px;
}

.card span {
  text-transform: uppercase;
  color: #88958D;
  display: block;
}

.card span.sunk {
  color: #642216;
}

h1 {
  color: #DDF2EB;
}

h2 {
  color: #DDF2EB;
  font-family: "Tanker";
  font-size: 2rem;
}

h3 {
    color: #DDF2EB;
    font-size: 1.27rem;
}

.grid-wrapper {
        display: flex;
        height: 100%;
        gap: 0;
    }
    .grid {
        margin : auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: fit-content;
        border: 2px solid #149ECA;
    }

.cell {
  border: 2px solid #149ECA;
  height: 3.7vw;
  width: 3.7vw;
  cursor: crosshair;
}
.mini-cell {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #149ECA	;
}
.cell:hover {
  background-color: #DDF2EB;
  border-radius: 100%;
  border-color: transparent;
}

.cell.hit,
.cell.ocean {
    cursor: not-allowed;
    background-color: #642216;
;
}
.cell.hit:hover,
.cell.ocean:hover,
.cell.missed:hover {
    border-radius: 0;
    border: 2px solid #149ECA;

}
.cell.missed,
.cell.missed:hover,
.mini-cell.missed,
.mini-cell.missed:hover {
    background-color: #149ECA;
  cursor: not-allowed;
}
.mini-cell.hit,
.mini-cell.ocean {
  background-color: #642216;
  cursor: not-allowed;
}

.cell.ship{
   background-color:#D3CDD7 ; 
}

.score h3{
    font-size: 1.79rem;
}
button {
  color: #1a1a1a;
  background-color: #88958D;
}